
# nixago: ignore-linked-files
/.vscode/extensions.json
/.vscode/settings.json
/taskfile.yml
/.lefthook.yml

# rising-tide-managed: start
# Ignore build outputs from performing a nix-build or `nix build` command
/result
/result-*

.ruff_cache/

.pytest_cache/
/test_results/

.mypy_cache/

# Jetbrains-generated CMake build files
cmake-build-*

/.direnv

.coverage*

# rising-tide-managed: end
