
# nixago: ignore-linked-files
/.vscode/extensions.json
/.vscode/settings.json
/taskfile.yml
/.lefthook.yml

# rising-tide-managed: start
.ruff_cache/

.pytest_cache/
.coverage

.mypy_cache/

/.direnv

# rising-tide-managed: end
