
# nixago: ignore-linked-files
/.vscode/extensions.json
/.vscode/settings.json
/.clang-format
/.clang-tidy
/.clangd
/taskfile.yml
# rising-tide-managed: start
# CMake build directory
/build/

# rising-tide-managed: end
