
# rising-tide-managed: start
# Jetbrains-generated CMake build files
cmake-build-*

/.direnv

/.idea/toolchains.xml
# rising-tide-managed: end

# nixago: ignore-linked-files
/taskfile.yml
/.lefthook.yml
/.vscode/extensions.json
/.vscode/settings.json