
# rising-tide-managed: start
# Ignore build outputs from performing a nix-build or `nix build` command
/result
/result-*

/.vscode/*.code-workspace
.vscode/launch.json

# Jetbrains-generated CMake build files
cmake-build-*

/.env

/.direnv

/.idea/toolchains.xml
# rising-tide-managed: end

# nixago: ignore-linked-files
/taskfile.yml
/.lefthook.yml
/.vscode/extensions.json
/.vscode/settings.json